body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'UD Digi Kyokasho N-R';
  font-size: 30px;
}

#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  width: 50vw;
}

#name-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label{
  text-align: center;
}

#login input{
  width: 10em;
  height: 5vh;
  font-size: 30px;
  font-family: 'UD Digi Kyokasho N-R';
}

.button{
  height: 15h;
  width: 200px;
  border-radius: 50px;
  font-size: 30px;
  color: whitesmoke;
  background-color: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}

#video-box {
  width: 70vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.video-contents{
  width: 35vw;
  box-sizing: border-box;
}

.maxview{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-color: white;
  z-index: 1;
}

#minutes-box {
  width: 30vw;
  height: 90vh;
  border-left:thin solid black;
  box-sizing: border-box;
  font-size: 15px;
  overflow-y: scroll;
}

#menu-box{
  border-top:thin solid black;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}

#title{
  font-size: 25px; 
}